@charset "utf-8";
table.calendar {
	/*border-left: 1px solid #CCC;*/
	/*position:relative;*/
	clear: both;
	border-spacing: 0px;
	width: 100%;
}

#weekview_table {
	table-layout: fixed;
	width:100%;
}

.calendar_head, .calendar_head_legend { 
	background: #91b64f; 
	font-weight: bold; 
	text-align: center;
	border-bottom: 1px solid #999; 
	border-top: 1px solid #999; 
	border-right: 0px solid #999; 
	box-sizing: border-box;
	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;*/
	padding: 5px 0px;
	-moz-user-select:none;
    -webkit-user-select:none;
}

.calendar_head {
	width: 170px;	
}

.calendar_head_legend {
	width: 60px !important;
	min-width: 40px;
	max-width: 60px;
	border-left: 0px solid #CCC;
}

.calendar_weeknum {
	width: 3%;
	text-align:center;
	font-weight: bold;
	border-left: 1px solid #CCC;
}
.calendar_weeknum a {
	color:#000 !important;	
}

.calendar_day, .calendar_weeknum, .calendar_today  {
	font-size: 11px;
	position: relative;
}

.calendar_day {
	width: 120px;
	vertical-align: top;
}

.calendar_noday {
	background: #eee; 
	width: 120px;
}

.calendar_today {
	width: 120px;
	vertical-align: top;
	background: #D5F2BF; 
}

.calendar_day, .calendar_noday, .calendar_weeknum, .calendar_today {
	padding: 5px; 
	min-height: 80px;
	border-bottom: 1px solid #999; 
	border-right: 1px solid #999;
	height: 80px;
}

.calendar_day_number { 
	background: #CCC;
	padding: 5px;
	color: #333333;
	font-weight: bold;
	float: right;
	margin: -5px -5px 0 0;
	width: 20px;
	text-align: center;
}

.calendar_day_number a {
	color: #333333;
}

.calendar_dayevent {
	font-size: 12px;
	/*margin-top:0px;*/
}

/* Week View specific classes */
.calendar_hourrow {
	border-bottom: 1px solid #999;
}

.calendar_hourdepthrow {
	border-bottom: 1px dotted #999; 
}

.calendar_hour, .calendar_thishour, .calendar_weekview_today {
	width: 170px;
	vertical-align: top;
	border-right: 1px solid #999;
	padding:0px !important;
}

.calendar_thishour {
	border-bottom: 2px solid #C30;
}

.calendar_weekview_today {
	background: #D5F2BF;
}

.calendar_legendhour {
	width: 62px !important;
	text-align:right;
	vertical-align: top;
	padding: 0px 2px !important;
	font-size: 10px;
	border-right: 1px solid #999;
	max-height: 20px;
	border-left: 1px solid #CCC;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
}

.calendar_hourevent {
	width: 160px;
	height: 20px;
	/*display:inline;*/
	position: absolute;
	z-index: 100;
	background-color: #F7FAFD;
	margin: 0px !important;
	padding-left: 2px;
	color:#1d1d1d;
	font-size: 11px;
	border: 1px solid #9FC6E7;
	border-radius: 2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	overflow:hidden;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
}

.calendar_hourevent .hours {
	font-size: 9px;
	color:#333;
}

.calendar_nowmarker {
	position:absolute;
	left:0;
	width:100%;
	height:0;
	border-top:2px solid #ff7f6e;
	overflow:hidden;
	z-index: 10;
}

#week_days_container {
	width:100%; 
	height: 1000px; 
	overflow: scroll;
	vertical-align:top; 
	margin:0; 
	padding:0; 
	position: relative;
}

.ui-selecting { background: #FECA40; }
.ui-selected { background: #F39814; color: white; }