@charset "utf-8";
.reporttable, .reportbox {
    text-align: left;
    width: 100%;
    padding: 0px;
    border-spacing: 0px;
    font-size: 8px !important;
    border-width: 0px;
}

.reportbox {
    border-bottom: 1px solid #A5A5A5;
    border-right: 1px solid #4F6228;
    border-left: 1px solid #4F6228;
    border-top: 1px solid #4F6228;
    vertical-align: top;
}
.budgetbox{
    text-align: left;
    width: 100%;
    padding: 0px;
    border-spacing: 0px;
    font-size: 10px !important;
    border-width: 0px; 
}
.budgetbox th{

    text-align: left;
    background-color:rgb(146, 208, 80);
    border-right: 1px solid #4F6228;
}
.border_bottom_thick {
    border-bottom: 2px solid #D8D8D8 !important;
}

.mainbox_datacell, .mainbox_typenamecell, .mainbox_totalcell, .totalbox_totalcell, .currenciesbox_datacell {
    border-left: 1px solid #D8D8D8 !important; 
    border-bottom: 1px dotted #D8D8D8;
}

.mainbox_datacell, .mainbox_totalcell {
    text-align: right;
}
.mainbox_mergeddatacell, .mainbox_mergedtotalcell {
    text-align: center;
    font-stretch: extra-condensed;
    font-size:10px;
}
.mainbox_forecast {
    font-style: italic;
    text-align: center;
    background-color: #FCF1B8;
    color: #888;
}

.mainbox_totalcell {
    text-align: right;
}

.totalbox_totalcell {
    text-align: center;
}

.totalbox_totalcell, .mainbox_totalcell {
    font-weight: bold;
}
.mainbox_itemnamecell {
    border-left: 0px;
    width: 140px !important;
    border-bottom: 1px dotted #D8D8D8;
}

.totalbox_itemnamecell {
    border-left: 0px;
    border-bottom: 1px dotted #D8D8D8;
    width: 160px;
}
.totalsbox_numcell, .totalsbox_perccellpositive, .totalsbox_perccellnegative, .totalsbox_perccellzero {
    width: 100px;
    text-align: center;
}

.totalsbox_columnhead { 
    width: 220px !important;
}

.totalsbox_perccellpositive {
    font-style: italic;
    background-color:#D3EFB2;
}

.totalsbox_perccellnegative {
    font-style: italic;
    background-color:#FDBFBA;
}

.totalsbox_perccellzero {
    font-style: italic;
    background-color:#FEF7D8;
}

.totalsbox_yearsep {
    width: 8px !important;
    text-align: center;
}

.thead {
    background-color:#92D050;
    font-weight: bold;
    /*font-size: 10px;*/
    border-bottom: dashed 1px #4F6228;
    text-align: left;
    width: 100%;
}

.cathead {
    background-color:#538022;
    color: #FFFFFF;
    font-size: 10px !important;
    font-weight: bold;
    text-align:left;
    width: 100%;
}

.logo {
    background: url(./images/logo.jpg) center no-repeat;
    height: 100px;
    width: 200px;
    margin: auto;
}

.totalcell, .datacell {
    width: 60px;
    text-align: right;
}

.totalscell {
    background-color:#FCD5B4;
    border-bottom: 1px solid #D8D8D8;
    font-weight: bold;
    text-align: right;
}

.namescell, .datacell, .datacell_freewidth {
    background-color: #DFF1CB;
    border-bottom: 1px dashed #BFBFBF;
}

.namescell {
    width: 100px;
    text-align: left;
}

.datacell, .datacell_freewidth {
    border-left: 1px solid #BFBFBF;
    border-right: 1px solid #D8D8D8;
    text-align: right;
}

.columnhead, .totalsbox_columnhead {
    font-weight: bold;
    border-bottom:1px dashed #BFBFBF;
    text-align: center;
}

.columnsubhead {
    font-style: italic;
    text-align: center;
    font-size: 10px;
    width: 28px;
}

.verticalspacer, .horizontalspacer {
    width: 15px;
}

.highlight_textbox {
    padding-left: 5px;
    border: 1px solid #333333;
    background-color:#DAEFC3;
    /*font-size: 16px;*/
    color:#444444;
}

#tableofcontent {
    width: 100px;
    text-align: left;
}
#tableofcontent div {
    padding: 5px;
    border-bottom: dotted 1px #ccc;
    width: 100%;
}

.scrollup {
    opacity:3.9;
    position:fixed;
    bottom:10px;
    right:85px;
    display:none;
    text-indent:-9999px;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid  #92D050;
}


.paperContainer {
    vertical-align: top;
    border-left: 1px solid #E8E8E8;
    border-right: 1px solid #E8E8E8;
    border-bottom: 1px solid #DBDBDB;
    border-top: 1px solid #F5F5F5;
    padding: 3px;
    font-size: 14px;
    width: 100% !important;
    background-color: #fff;
    margin-top: 10px !important;
    margin:auto; 
    -moz-box-shadow:0px 8px 10px 10px #f5f5f5; 
    -webkit-box-shadow:0px 8px 10px 10px #f5f5f5; 
    box-shadow:0px 8px 10px 10px #f5f5f5;
}
