@charset "utf-8";
.reporttable, .reportbox {
	text-align: left;
	width: 100%;
	padding: 0px;
	border-spacing: 0px;
        font-size: 10px !important;
}

.reportbox {
	border-bottom: 1px solid #A5A5A5;
	border-right: 1px solid #4F6228;
	border-left: 1px solid #4F6228;
	border-top: 1px solid #4F6228;
}

.border_bottom_thick {
    border-bottom: 2px solid #D8D8D8 !important;
}

.mainbox_datacell, .mainbox_typenamecell {
     border-left: 1px solid #D8D8D8 !important; 
      border-bottom: 1px dotted #D8D8D8;
}

.mainbox_itemnamecell {
       border-left: 0px;
       width:  100px;
}

.totalsbox_numcell, .totalsbox_perccellpositive, .totalsbox_perccellnegative, .totalsbox_perccellzero {
    width: 50px;
    text-align: center;
}

.totalsbox_perccellpositive {
    font-style: italic;
    background-color:#B0DE78;
}

.totalsbox_perccellnegative {
    font-style: italic;
    background-color:#F78B83;
}

.totalsbox_perccellzero {
    font-style: italic;
    background-color:#F0DE7D;   
}

.totalsbox_yearsep {
    width: 10px;
    text-align: center;
}

.thead {
	background-color:#92D050;
	font-weight: bold;
	font-size: 11px;
	border-bottom: dashed 1px #4F6228;
	text-align: left;
	width: 100%;
}

.cathead {
	background-color:#538022;
	color: #FFFFFF;
	font-size: 13px !important;
	font-weight: bold;
	text-align:left;
	width: 100%;
}

.logo {
	background: url(../images/Orkila_logo.jpg) center no-repeat;
	height: 100px;
	width: 200px;
}

.totalcell, .datacell {
	width: 60px;
	text-align: right;
}

.totalscell {
	background-color:#FCD5B4;
	border-bottom: 1px solid #D8D8D8;
	font-weight: bold;
	text-align: right;
}

.namescell, .datacell, .datacell_freewidth {
	background-color: #DFF1CB;
	border-bottom: 1px dashed #BFBFBF;
}

.namescell {
	width: 100px;
	text-align: left;
}

.datacell, .datacell_freewidth {
	border-left: 1px solid #BFBFBF;
	border-right: 1px solid #D8D8D8;
	text-align: right;
}

.columnhead {
	font-weight: bold;
	border-bottom:1px dashed #BFBFBF;
	text-align: center;

}

.columnsubhead {
	font-style: italic;
	text-align: center;
	font-size: 11px;
        width: 60px;
}

.verticalspacer, .horizontalspacer {
	width: 15px;
}

.highlight_textbox {
	padding-left: 5px;
	border: 1px solid #333333;
	background-color:#DAEFC3;
	font-size: 17px;
	color:#444444;
}
