

$color_green: #91b64f;
$color_grey: #F2F2F2;
$color_polar: #F7FAFD;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($h-shadow, $v-shadow, $blur, $spread, $color) {
    -moz-box-shadow: $h-shadow $v-shadow $blur $spread $color;
    -webkit-box-shadow: $h-shadow $v-shadow $blur $spread $color;
    box-shadow: $h-shadow $v-shadow $blur $spread $color;
}

@mixin box-shadow-inset($h-shadow, $v-shadow, $blur, $spread, $color) {
    -moz-box-shadow: inset $h-shadow $v-shadow $blur $spread $color;
    -webkit-box-shadow: inset $h-shadow $v-shadow $blur $spread $color;
    box-shadow: inset $h-shadow $v-shadow $blur $spread $color;
}
