<IfModule mod_rewrite.c>
	RewriteEngine on

RewriteRule ^surveys/(.*)$ index.php?module=surveys/fill&identifier=$1 [L,QSA]
RewriteRule ^users/(.*)$ ./users.php?action=profile&uid=$1 [L,QSA]
<If "%{QUERY_STRING} == 'module=budgeting/fillbudget&stage=fillbudgetline' ">
    php_value max_input_vars 2000
</If>
<If "%{QUERY_STRING} == 'module=budgeting/fillyearendforecast&stage=fillbudgetline' ">
    php_value max_input_vars 2000
</If>
<If "%{QUERY_STRING} == 'module=reporting/fillreport&stage=productsactivity' ">
    php_value max_input_vars 2000
</If>
<If "%{QUERY_STRING} == 'module=grouppurchase/fillforecast' ">
    php_value max_input_vars 2000
</If>
</IfModule>


