@charset "utf-8";
.reporttable, .reportbox {
	width: 100%;
	padding: 0px;
	border-spacing: 0px;
}

.reportbox {
	border-bottom: 1px solid #A5A5A5;
	border-right: 1px solid #4F6228;
	border-left: 1px solid #4F6228;
	border-top: 1px solid #4F6228;
}

.thead {
	background-color:#CCCCCC;
	font-weight: bold;
	font-size: 12px;
	border-bottom: dashed 1px #4F6228;
	text-align: left;
	width: 100%;
}

.cathead {
	background-color:#999999;
	color: #FFFFFF;
	font-size: 14px !important;
	font-weight: bold;
	text-align:left;
	width: 100%;
}

.logo {
	background: url(images/logo.jpg) center no-repeat;
	height: 100px;
	width: 200px;
}

.totalcell, .datacell {
	width: 60px;
}

.totalscell {
	background-color:#CCCCCC;
	border-bottom: 1px solid #D8D8D8;
	font-weight: bold;
	text-align: right;
}

.namescell, .datacell {
	background-color:#E6E6E6;
	border-bottom: 1px dashed #BFBFBF;
}

.namecell {
	width: 80px !important;
	text-align: left;
}

.datacell {
	border-left: 1px solid #BFBFBF;
	border-right: 1px solid #D8D8D8;
}

.columnhead {
	font-weight: bold;
	border-bottom:1px dashed #BFBFBF;
	text-align: center;
	font-size: 12px;
}

.columnsubhead {
	font-style:italic;
	text-align: center;
	font-size: 10px;
}

.verticalspacer, .horizontalspacer {
	width: 15px;
}

.highlight_textbox {
	padding-left: 5px;
	border: 1px solid #333333;
	background-color:#CCCCCC;
	font-size: 17px;
	color:#444444;
}
